.btn-blue {
	background-color: #4f93b9;
	padding: 15px 20px;
	border-radius: 50px;
	margin-right: 15px;
	color: white;
	font-weight: bold;
	font-family: 'PT Sans', sans-serif;
}

.btn-blue:hover {
	background-color: #022846;
	color: white;
	text-decoration: none;
}

.btn-white {
	background-color: white;
	padding: 15px 20px;
	border-radius: 50px;
	margin-right: 15px;
	color: #4f93b9;
	font-weight: bold;
	font-family: 'PT Sans', sans-serif;
}

.btn-white:hover {
	background-color: #D3D3D3;
	color: #4f93b9;
	text-decoration: none;
}

.btn-blue2 {
	background-color: #4f93b9;
	padding: 10px 17px;
	border-radius: 50px;
	color: white;
	font-weight: bold;
	font-family: 'PT Sans', sans-serif;
}

.btn-blue2:hover {
	background-color: #022846;
	color: white;
	text-decoration: none;
}

#btn-body {
	display: flex;
  	justify-content: center;
  	align-items: center;
	background-color: #4f93b9;
	padding: 15px 20px;
	border-radius: 50px;
	color: white;
	font-weight: bold;
	font-family: 'PT Sans', sans-serif;
}

#btn-body:hover {
	background-color: #022846;
	color: white;
	text-decoration: none;
}